.container{
    width: 400px;
    height: 300px;
    position: relative;
    overflow:hidden;
    overflow-y:scroll;
    background-color: orange;

}

.container h1{
    position: sticky;
    top: 0;
}

h1{
    background-color: azure;
}
